*{margin:0;padding:0;}
ul,li,ol{list-style: none;}
#menu{width:200px;height:100px;margin:20px auto;background:#fff;overflow:hidden;position: relative;
	padding:1px;
	border:3px solid #1abc9c;
	border-radius: 10px;
}
#menu ul{position:absolute;width:177pxpx;left:2px;top:0;}
#menu ul li{ width:99%; height: 30px; line-height: 30px;background:#1abc9c;
	margin:5px 1px;padding:0 5px;
	border-radius: 10px;
	color:#fff;
}

.drag_wrap{width:20px;background: #cbd2d8;float: right;border-radius: 5px;}
.drag_wrap b{display:block;height: 20px;background: #7f8b97;
	cursor: move;position: relative;border-radius: 10px;
}